/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
		background: url(images/bg1.png) repeat center center fixed; 
	
	}
	a {
	text-decoration: none;
	
}
@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('OpenSans-CondLight-webfont.eot');
    src: url('OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLight-webfont.woff') format('woff'),
         url('OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

	#container{
	width:98%;
	height:auto;
	
	margin-left:1%;
	
	border-top-left-radius:5px; -moz-border-top-left-radius:5px; border-top-right-radius:5px; -moz-border-top-right-radius:5px;
	}
	.productbar{
width:100%;
height:auto;
float:left;
margin-top:2%;
border-bottom:1px solid #666666;
padding-bottom:4%;
}
h5{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
color:#A80000;
margin-top:0px;
margin-bottom:0px;

padding-left:5px;
padding-top:10px;
}
.productimg{
width:30%;
height:auto;
float:left;
margin-top:10px;
margin-left:2%;

-moz-box-shadow: 0 0 5px #000;
-webkit-box-shadow: 0 0 5px#000;
box-shadow: 0 0 5px #000;
}
.logo{
text-align:center;
border-top-left-radius:5px; 
-moz-border-top-left-radius:5px;
 border-top-right-radius:5px; 
 -moz-border-top-right-radius:5px;
position:fixed;
top:0px;
right:1%;
left:1%;

}


.smallbutton{
width:20%;
height:20px;
float:left;
margin-left:1%;
padding:2%; 
text-align:center;
background:#AA0000;
border-radius:3px;
-moz-border-radius:3px; 
font-family:Arial, Helvetica, sans-serif; 
font-size:14px;
color:#FFFFFF;
}


.timebutton{
width:28.5%; 
height:22px;
padding:2%;
padding-top:3%;
text-align:center;
float:left;
margin-top:2%;
margin-left:1%;
background:url(images/timebutton.png);
color:#FFFFFF;
-webkit-background-size:cover; 
-moz-background-size:cover;
-o-background-size:cover;
background-size: cover;
}

.itemimg{
width:30%; 
height:auto; 
float:left; 
margin-left:5%;
 margin-top:5%;
}
.itemtext{
width:100%;
float:left;
background:#FF0000;
color:#FFFFFF;
text-align:center;
}
.button{
width:26%;
height:100%;

background:url(images/repeat3.png) repeat;

border-left:1px solid #006699;
float:left;
text-align:center;
}

.button1{
border:none; padding:7px 20px;  background:#D67C1B; box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -o-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -webkit-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black;
   -moz-box-shadow: inset 0 1px 3px pink, inset 0 -5px 15px maroon, 0 2px 1px black; border-radius:4px; -moz-border-radius:4px; font-size:12px; color:#FFFFFF; text-align:center;
}


#content{
width:98%;
height:auto;
float:left;
font-family:Arial, Helvetica, sans-serif;
color:#ffffff;
padding:1%;
font-size:16px;
line-height:1.8;

}


.menu{
margin:10px;
}
.menu a{
font-size:12px;
	font-weight:normal;
	text-align:left;
	display:block;
	background:url(images/repeat2.png) repeat-x;
	
	border:1px solid #dbdbdb;
	color:#ffffff;
	padding:14px;
	margin:10px 0;
	border-radius:7px;
	-moz-border-radius:7px;
	-moz-box-shadow:0 2px 4px #ffffff;
	-webkit-box-shadow:0 2px 4px #ffffff;
	box-shadow:0 2px 4px #ffffff;
	

	}

.callus{
height:28px; 
width:56%;
padding:14px;
 margin:auto; 
 background:#ffffff;
  margin-top:-50px;
   z-index:1000; 
   position:relative;
	background:url(images/repeat1.png) repeat-x;
   background-image: linear-gradient(top, #EC0000  10%, #770000  100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#EC0000, endColorstr=#770000);
background-image:-moz-linear-gradient(top, #EC0000  10%, #770000  100%);
   background-image: -o-linear-gradient(top, #EC0000  10%, #770000  100%);
background-image:-webkit-linear-gradient(top, #EC0000  10%, #770000  100%);
 border-radius:7px;
 -moz-border-radius:7px;
 font-family:Arial, Helvetica, sans-serif;
 font-size:22px;
 color:#FFFFFF;
}
.menu a:link{
text-decoration:none;
}
.image{

margin:10px;
margin-bottom:5px;
background:#ffffff;
border-radius:7px;
-moz-border-radius:7px;
}
.image1{

margin:10px;
margin-bottom:5px;
background:#ffffff;

}
.imagebox{

text-align:center;
}
.list{
list-style-image:url(images/bullet.png);
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7C7C7C;
line-height:1.5;
}
@font-face {
    font-family: 'AlexBrushRegular';
    src: url('AlexBrush-Regular-OTF-webfont.eot');
    src: url('AlexBrush-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('AlexBrush-Regular-OTF-webfont.woff') format('woff'),
         url('AlexBrush-Regular-OTF-webfont.ttf') format('truetype'),
         url('AlexBrush-Regular-OTF-webfont.svg#AlexBrushRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h3{
 font-family: 'AlexBrushRegular';
font-size:30px;
color:#8B8B8B;
line-height:1.5;

margin-top:0px;
margin-bottom:0px;
font-weight:normal;
text-align:center;
}
h6{
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
color:#336600;
line-height:1.5;
padding:5px;
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}
.text{
padding:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#7A7A7A;
line-height:1.5;
text-align:left;
margin-top:0px;
}